{% extends "layout.html" %}

{% block title %}Indicadores Comerciais{% endblock %}

{% block content %}
    <h1>Painel do Setor Comercial</h1>

    <div class="sub-nav">
        <a href="{{ url_for('main.comercial_geral') }}">Geral</a>
        <a href="{{ url_for('main.comercial_conversao') }}">Conversão de Vendas</a>
        <a href="{{ url_for('main.comercial_cancelamentos') }}">Cancelamentos</a>
        <a href="{{ url_for('main.comercial_metas') }}">Metas</a>
    </div>

    <div class="sub-content">
        {% block comercial_content %}
            <p>Selecione uma subpágina no menu acima.</p>
        {% endblock %}
    </div>
{% endblock %}